.ant-layout-header.header {
  background-color: #ffffff;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 56px;
  display: flex;
  align-items: center;
}

.ant-input-group-addon {
  display: none;
}

.header {
  height: 100px;
}

.header img {
  height: 61.96828842163086px;
  width: 69.24436950683594px;
}

.searching-header {
  width: 40%;
  margin-left: 30px;
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-radius: 10px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 9.375% 31px;
}

.content {
  padding: 52px 48px 0;
}

.ant-menu-title-content {
  display: flex;
  align-items: center;
}
