.ant-layout-header.header {
  background-color: #ffffff;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.ant-input-group-addon {
  display: none;
}

.header {
  height: 100px;
}

.header img {
  height: 61.96828842163086px;
  width: 69.24436950683594px;
}

.searching-header {
  width: 40%;
  margin-left: 30px;
}

.ant-input {
  background: #eaeaea;
  border-radius: 29px;
}

.ant-input-group > .ant-input:first-child,
.ant-input-group-addon:first-child {
  border-top-right-radius: 29px;
  border-bottom-right-radius: 29px;
}
